<html>
  <body>
    <h1>Create a new post</h1>
    <p>
    <form action="/new" method="POST">
      Post content: <input type="text" name="content", size=100>
      <br/>
      <input type="submit", value="Create post">
    </form>
    </p>
  </body>
</html>
